@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #88A3E2, #AAECFC);
}

main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #5c6f9cb4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FC8DCA;
    text-align: center;
    text-shadow: 1px 1px 2px #a15a81cb;

}

h2 {
    color: #C37EDB;
}

p {
    text-align: justify;
}